extends authLayout

block content
    
    div.container
        div.jumbotron
            h2 Add a Book to Trade
            
            if errors
                div.alert.alert-danger
                    each error in errors
                        div=error
            form(name="addbook" method="post" action="/addBook")
                div.form-group
                    label ISBN
                    input(type="text" placeholder="ISBN" name="isbn" min="10" max="14").form-control
                div.form-group
                    label Title
                    input(type="text" placeholder="Title" name="title").form-control
                div.form-group
                    label Author
                    input(type="text" placeholder="Author" name="author").form-control
                div.form-group
                    label Edition
                    input(type="text" placeholder="1" name="edition").form-control
                div.form-group
                    label Price
                    input(type="number" placeholder="$" name="price" step="0.01").form-control
                a(class="button-link", href="/addBook") Cancel
                button(type="submit").btn.btn-primary Add Book
        
        