doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href="#") HOME

    form(class="navbar-form navbar-left" role="search")
      div.form-group
        input(type="text" class="form-control" placeholder="Search")
        button(type="submit" class="btn btn-default")
          span(class="glyphicon glyphicon-search") 
    block content
