doctype html
html
  head
    // The below three meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    title= title
    
    // Latest version of jquery
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    
    // Latest compiled and minified CSS
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    
    // Optional theme
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous")
    
    // authStylesheet
    link(rel="stylesheet" href="/stylesheets/authStylesheet.css")
    
    // Latest compiled and minified JavaScript
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")

  body
    div.container-fluid
      div.navbar-header
        button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse")
          span.sr-only Toggle Navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(rel="home" href="#" title="Bookr - Homepage") Bookr
      
      div.collapse.navbar-collapse.navbar-ex1-collapse
        ul.nav.navbar-nav
          li: a(href="search/advanced/") Advanced Search
          li: a(href="topic/dev/") Another Link
        
        div.col-sm-3.col-md-3.pull-right
          form.navbar-form(role="search")
            div.input-group
              input#srch-term.form-control(type="text" placeholder="Search" name="srch-term")
              div.input-group-btn
                button.btn.btn-default(type="submit")
                  i.glyphicon.glyphicon-search
      
    hr
    block content
