extends layout

block content
      
      if name
        p Welcome, #{name}
        p
          a.small(href="/profile") View my profile
          form(method="post" action="/logout")
            button.btn.btn-primary Logout
      else 
        p Welcome to bookr!  Ready to get started?
        p
          a.btn.btn-primary(href="/login") Login now
        p
          span.small Don't have an account?  
          a.small(href="/createaccount") Register now.
  
    
