doctype html
html
  head
    title bookr
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
    div.jumbotron
      a(href="/")
        h1 bookr
      block content
