extends layout

block content

    h2 Log In
    if error
        div.alert.alert-danger
            | !{error}
    form(method="post" action="/profile")
        div.form-group
            label Name
            input(type="text" placeholder="Full Name" name="fullName").form-control
        div.form-group
            label Email
            input(type="email" placeholder="Email" name="email").form-control
        div.form-group
            label Password
            input(type="password" placeholder="Password" name="password").form-control
        button(type="submit").btn.btn-primary Log In