extends layout

block content

    h2 Log In
    if errors
        div.alert.alert-danger
           each error in errors
                div=error
    form(method="post" action="/login")
        div.form-group
            label Email
            input(type="email" placeholder="Email" name="email").form-control
        div.form-group
            label Password
            input(type="password" placeholder="Password" name="password").form-control
        button(type="submit").btn.btn-primary Log In