extends authLayout

block content
    div.container
        div.jumbotron
            if errors
                div.alert.alert-danger
                    each error in errors
                        div=error
            form(method="post" action="/search")
                div.form-group
                    input(type="text" placeholder="ISBN, Title, or Author" name="searchKeyword").form-control
                div.form-group
                    input(type="text" placeholder="Zip Code" name="zipCode").form-control
                button(type="submit").btn.btn-primary Find Book
            p
                a.small(href="/profile") Return to Profile.
            h2 Search Results
            div.search_results
                table
                    thead
                        tr.head
                            th ISBN
                            th TITLE
                            th AUTHOR
                            th EDITION
                            th CONTACT USER
                    tbody
//                        if userBooks
//                            each book in userBooks

